.proposal-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.hide {
    display: none;
  }
  .modal-background {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
  }
  .modal-content {
    width: 90%;
    max-width: 400px;
    min-height: 120px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    .title-wrapper {
      background-color: var(--primary-color);
      padding: 0.4rem;
      border-radius: 3px;
      color: white;
      font-weight: bold;
      h1 span {
        font-weight: normal;
      }
    }
    .details-wrapper {
      padding: 0 0.4rem;
      border-radius: 3px;
      font-style: italic;
    }
    .details-prefix {
      font-weight: bold;
    }
    .modal-top {
      display: flex;
      width: 100%;
      font-size: 0.6rem;
      justify-content: space-between;
      .top-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        span {
          // padding: 0.3rem 0.3rem;
          cursor: pointer;
          background-color: rgb(240, 240, 240);
          border: 1px solid transparent;
          border-radius: 3px;
          color: rgb(98, 0, 0);
          font-size: 1.7rem;
          &:hover {
            opacity: 0.8;
            background-color: rgb(228, 174, 174);
            transition: all 300ms;
          }
        }
      }
      .top-middle {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(0, 0, 125);
        padding: 0.3rem 0.5rem;
        border-radius: 3px;
        background-color: rgb(222, 222, 244);
        width: 75px;
        h2 {
          font-weight: bold;
          align-self: center;
          text-decoration: underline;
          font-size: 0.7rem;
        }
        .for-votes {
          color:rgb(0, 108, 20);
          span {
            font-weight: bold;
          }
        }
        .against-votes {
          color:rgb(145, 0, 0);
          span {
            font-weight: bold;
          }
        }
      }
    }
    .modal-middle {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;
    }
    .modal-vote {
      display: flex;
      gap: 1rem;
      width: 100%;
      .commish-override-message-reject {
        display: flex;
        font-size: 0.8rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 3rem;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: rgb(184, 138, 138);
        opacity: 0.8;
      }
      .commish-override-message-approve {
        display: flex;
        font-size: 0.8rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 3rem;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: rgb(118, 159, 114);
        opacity: 0.8;
      }
      .reject, .approve {
        width: 100%;
        cursor: pointer;
        height: 3rem;
        font-size: 0.7rem;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        span {
          display: flex;
          justify-self: baseline;
        }
      }
      .reject {
        background-color: rgb(218, 68, 68);
        transition: all 300ms;
        color: black;
        &:hover {
          background-color: rgb(148, 26, 26);
          transition: all 300ms;
        }
        span {
          font-size: 1rem;
        }
        &.disable {
          cursor: default;
          background-color: grey;
          opacity: 0.8;
          pointer-events: none;
        }
      }
      .approve {
        background-color: rgb(103, 255, 103);
        color: black;
        &:hover {
          background-color: rgb(52, 144, 52);
          transition: all 300ms;
        }
        transition: all 300ms;
        &.disable {
          cursor: default;
          background-color: grey;
          opacity: 0.8;
          pointer-events: none;
        }
      }
    }
    .header {
      font-weight: bold;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      input {
        padding: 0.2rem 0.3rem;
      }
      button {
        cursor: pointer;
        width: 100px;
        background-color: rgb(33, 33, 107);
        color: white;
        border: none;
        border-radius: 3px;
        padding: 0.3rem;
      }
    }
    .error-message {
      margin: 0;
      color: red;
    }
  }
  .info {
    font-weight: bold;
    &.pending {
      color: rgb(70, 70, 192);
    }
    &.rejected {
      color: rgb(186, 55, 55);
    }
    &.approved {
      color: rgb(76, 177, 76);
    }
  }
    .commish-override-veto {
      cursor: pointer;
      width: 100%;
      color: rgb(145, 0, 0);
      border: none;
      border-radius: 3px;
      padding: 0.8rem 0.3rem;
      background-color: rgb(224, 190, 190);
      border: 2px solid rgb(145, 0, 0);
      font-weight: bold;
      transition: all 300ms;
      &:hover {
        opacity: 0.9;
        background-color: rgb(201, 124, 124);
        transition: all 300ms;
      }
    }
    .commish-override-approve {
      cursor: pointer;
      width: 100%;
      color: rgb(0, 108, 20);
      border: none;
      border-radius: 3px;
      padding: 0.8rem 0.3rem;
      background-color: rgb(177, 208, 177);
      border: 2px solid rgb(0, 108, 20);
      font-weight: bold;
      transition: all 300ms;
      &:hover {
        opacity: 0.9;
        background-color: rgb(134, 190, 143);
        transition: all 300ms;
      }
    }
    .override-verify {
      font-size: 0.8rem;
      transition: all 300ms;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .override-verify-buttons {
        display: flex;
        width: 100%;
        gap: 1rem;
      }
      .confirm-veto {
        background-color: rgb(177, 208, 177);
        border: 2px solid rgb(0, 108, 20);
        color: rgb(0, 108, 20);
        &:hover {
          opacity: 0.9;
          background-color: rgb(134, 190, 143);
          transition: all 300ms;
        }
      }
      .deny-veto {
        background-color: rgb(224, 190, 190);
        border: 2px solid rgb(145, 0, 0);
        color: rgb(145, 0, 0);
        &:hover {
          opacity: 0.9;
          background-color: rgb(201, 124, 124);
          transition: all 300ms;
        }
      }
      button, span {
        width: 100%;
      }
      button {
        padding: 0.8rem 0rem;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
        &:hover {
          opacity: 0.8;
        }
      }
      .question {
        font-weight: bold;
        color: red;
        padding-left: 0.4rem;
        font-size: 0.7rem;
      }
    }
    .commish-buttons {
        display: flex;
        gap: 1rem;
      }
}