.proposals-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 0;
  border: 1px solid var(--primary-color);
  .proposal-page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    .proposals-nav {
      width: 100%;
      ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
        height: 100%;
        li {
          width: 100%;
          button {
            background-color: var(--primary-color-darker);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: none;
            outline: none;
            color: rgb(170, 170, 170);
            font-size: 0.8rem;
            transition: all 300ms;
            width: 100%;
            padding: 1rem 0;
            &.active {
              color: white;
              background-color: var(--primary-color);
              transition: all 300ms;
            }
          }
        }
        .spacer {
          height: 100%;
          width: 2px;
          background-color: var(--primary-color);
        }
      }
    }
    .create-proposal-btn {
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--accent-color);
      color: black;
      font-weight: bold;
      border-radius: 3px;
      border: 1px solid transparent;
      cursor: pointer;
      position: relative;
      z-index: 2;
      &:hover {
        opacity: 0.8;
      }
      span {
        font-size: 0.7rem;
        @media screen and (max-width: 400px) {
          font-size: 0.6rem;
        }
      }
      @media screen and (max-width: 400px) {
        font-size: 0.7rem;
        padding: 0.3rem 1rem;
      }
    }
    .instructions {
      font-size: 0.8rem;
      opacity: 0.7;
      text-align: center;
      text-wrap: balance;
    }
    .proposals-header {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 475px;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        background-color: rgb(11, 11, 11);
        // border-radius: 3px;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-image: url("/courtroom.jpg");
        background-size: cover;
        background-position: center;
        @media screen and (max-width: 400px) {
          gap: 0.5rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.9);
          z-index: 1;
          // border-radius: 3px;
        }

        h1,
        p {
          position: relative; /* Ensure the child elements are positioned relative */
          z-index: 2; /* Ensure the child elements are above the overlay */
        }

        h1 {
          font-size: 1.7rem;
          font-weight: bold;
          font-family: 'Grandiflora One', cursive;
          @media screen and (max-width: 400px) {
            font-size: 1.5rem;
          }
        }

        p {
          font-size: 1rem;
          color: rgb(146, 146, 146);
        }
        // border: 1px solid blue;
      }
  }
  .table-section-wrapper {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    padding: 0.5rem;
    background-color: rgb(15, 15, 15);
    // padding-bottom: 4.7rem;
    .table-wrapper {
      width: 100%;
      border-radius: 3px;
      overflow: hidden;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-height: 100%;
      overflow: auto;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .proposals-table {
      border-collapse: collapse;
      font-size: 0.8em;
      font-family: sans-serif;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      width: 100%;
      border-radius: 3px;
      overflow: auto;
      max-width: 800px;
      background-color: black;
      thead {
        border-top-left-radius: 3px;
        overflow: hidden;
        position: sticky;
        top: 0;
        height: 50px;
      }
      .date {
        display: none;
        &.cell {
          font-weight: bold;
          color: gray;
        }
        @media screen and (min-width: 650px) {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          .header {
            font-weight: normal;
          }
        }
      }
          .vote-tally {
            text-align: center;
            @media screen and (max-width: 500px) {
              display: none;
            }
          }
          thead tr {
            background-color: var(--accent-color);
            color: var(--primary-color-darker);
            text-align: left;
            width: 100%;
            // font-weight: bold;
            font-size: 0.8rem;
            th:last-child {
              text-align: center;
            }
            .center-text {
              text-align: center;
            }
            th {
              font-size: 0.7rem;
              @media screen and (max-width: 375px) {
                font-size: 0.6rem;
              }
              @media screen and (max-width: 320px) {
                font-size: 0.5rem;
              }
            }
          }
          th, td {
            padding: 8px 10px;
          }
          tbody tr {
            border-bottom: 1px solid rgba(43, 43, 43, 0.9);
            background-color: rgba(25, 25, 25, 0.6);
            @media screen and (min-height: 700px) {
              font-size: 1rem;
            }
          }
          tbody tr:nth-of-type(even) {
            color: white;
            background-color: rgba(25, 25, 25, 0.95);
          }
          tbody tr.active-row {
            font-weight: bold;
          }
          tbody tr td {
            font-size: 0.6rem;
            @media screen and (max-width: 375px) {
              font-size: 0.5rem;
              padding: 4px 5px;
            }
            @media screen and (max-width: 340px) {
              font-size: 0.4rem;
            }
          }
          tbody tr {
            height: 60px;
          }
          .wider {
            min-width: 100px;
          }
          .vote {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 0.5rem;
            font-size: 1rem;
          }
          .row {
            cursor: pointer;
            &:hover {
              background-color: var(--primary-color-darker);
            }
          }
          .pending, .approved, .rejected {
            text-align: center;
          }
          .pending {
            color: rgb(70, 70, 192);
            font-weight: bold;
          }
          .approved {
            color: rgb(95, 228, 95);
            font-weight: bold;
          }
          .rejected {
            color: rgb(186, 55, 55);
            font-weight: bold;
          }
          .proposer {
            font-weight: bold;
            text-align: center;
            &.color {
              color: rgb(80, 80, 80);
            }
          }
          .your-vote {
            text-align: center;
            &.approved {
              color: rgb(95, 228, 95);
              font-weight: bold;
            }
            &.rejected {
              color: rgb(186, 55, 55);
              font-weight: bold;
            }
          }
          tfoot {
            td.footer-cell {
              background-color: var(--accent-color); /* Adjust color as needed */
              position: sticky;
              bottom: 0;
              z-index: 1; /* Ensure it's above the scrolling content */
            }
          }
          .row-spacer {
            height: 44px;
            width: 100%;
            border: none;
          }
        }
  }
  .proposals-page-bottom {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(13, 13, 13) 30%, var(--primary-color-darker-for-gradient) 100%);
    overflow: auto;
    // justify-content: space-between;
    .proposal-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 3px;
      border: 1px solid var(--primary-color);
      box-shadow: var(--primary-color-trans) 0px 3px 8px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
      .proposal-content-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
    .proposal-header {
      background-color: rgb(11, 11, 11);
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0.5rem;
      font-size: 0.6rem;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      @media screen and (min-width: 400px) {
        font-size: 0.7rem;
      }
      @media screen and (min-width: 410px) {
        font-size: 0.8rem;
      }
      @media screen and (min-width: 420px) {
        font-size: 0.9rem;
      }
      h2 {
        color: rgb(181, 181, 181);
      }
      .proposal-title {
        color: gold;
        font-weight: bold;
      }
      .proposer-name {
        color: white;
        font-weight: bold;
      }
    }
    .proposal-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(33, 33, 33);
      gap: 0.5rem;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      .proposal-body-main {
        text-align: left;
        padding: 0.5rem 0.5rem 0rem 0.5rem;
        p {
          font-size: 0.8rem;
          color: rgb(166, 166, 166);
          font-weight: bold;
          @media screen and (min-width: 400px) {
            font-size: 0.9rem;
          }
          @media screen and (min-width: 410px) {
            font-size: 1rem;
          }
          @media screen and (min-width: 420px) {
            font-size: 1.1rem;
          }
          
          .proposal-content {
            font-style: italic;
            font-weight: normal;
          }
        }
      }
    }
    .proposal-body-footer {
      background-color: rgb(11, 11, 11);
      padding: 0.3rem 0.5rem 0.3rem 0.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      .you-voted {
        font-size: 0.6rem;
        .reject {
          color: rgb(255, 78, 78);
          opacity: 0.7
        }
        .approve {
          color: rgb(130, 255, 130);
          opacity: 0.7
        }
        .no-vote {
          color: rgb(181, 181, 181);
        }
      }
      .status {
        font-size: 0.6rem;
        background-color: rgb(33, 33, 33);
        padding: 0.2rem 0.5rem;
        border-radius: 3px;
        &.pending {
          color: black;
          background-color: rgb(70, 70, 192);
          font-weight: bold;
        }
        &.approved {
          color: black;
          background-color: rgb(47, 255, 0);
          font-weight: bold;
        }
        &.rejected {
          color: black;
          background-color: rgb(255, 0, 0);
          font-weight: bold;
        }
      }
      .total-voted {
        font-size: 0.6rem;
        color: rgb(181, 181, 181);
        span {
          font-weight: bold;
          color: white;
        }
      }
      .you-voted, .status, .total-voted {
        @media screen and (min-width: 400px) {
        font-size: 0.7rem;
        }
        @media screen and (min-width: 410px) {
          font-size: 0.8rem;
        }
        @media screen and (min-width: 420px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.no-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 3px;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
  height: 0px;
  display: none;
}
    
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

