@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&display=swap');

.compare-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 0;

  // border: 1px solid var(--primary-color);
  .compare-page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;

    .compare-nav {
      width: 100%;

      ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
        height: 100%;

        li {
          width: 100%;

          button {
            background-color: var(--primary-color-darker);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: none;
            outline: none;
            color: rgb(170, 170, 170);
            font-size: 0.8rem;
            transition: all 300ms;
            width: 100%;
            padding: 1rem 0;

            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            &.active {
              color: white;
              background-color: var(--primary-color);
              font-weight: bold;
              transition: all 300ms;
            }
          }

          .h2h-button {
            padding: 0;
            height: 100%;
          }
        }

        .spacer {
          height: 100%;
          width: 2px;
          background-color: var(--primary-color);
        }
      }
    }

    .compare-page-header {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 475px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(11, 11, 11);
      // border-radius: 3px;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-image: url("/compare.jpg");
      background-size: cover;

      @media screen and (max-width: 400px) {
        gap: 0.5rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1;
        // border-radius: 3px;
      }

      h1 {
        font-size: 1.7rem;
        font-weight: bold;
        font-family: 'Grandiflora One', cursive;
        z-index: 2;

        @media screen and (max-width: 400px) {
          font-size: 1.5rem;
        }
      }

      .compare {
        z-index: 2;
      }
    }
  }

  .compare-page-bottom {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgb(13, 13, 13) 30%, var(--primary-color-darker-for-gradient) 100%);

    .selector-wrapper {
      border: 1px solid rgb(35, 35, 35);
      width: 100%;
      height: 105px;
      // flex: 0 0 20%;
      border-radius: 3px;
      display: flex;
      flex-direction: column;

      // overflow: hidden;
      .selector-header {
        font-size: 0.8rem;
        font-weight: bold;
        color: gold;
        width: 100%;
        text-align: center;
        background-color: rgb(17, 17, 17);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        overflow: hidden;

        h2 {
          display: block;
          text-wrap: nowrap;
          padding: 0.2rem 0.5rem 0.2rem 0.5rem;
          border-radius: 3px;
          background-color: var(--primary-color-darker);
          color: white;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          min-width: 100px;
          max-width: 200px;
        }

        button {
          width: 100%;
          height: 100%;
          background-color: rgb(17, 17, 17);
          border: none;
          padding: 0.7rem 0.5rem 0.7rem 0.5rem;
          display: flex;
          color: rgb(218, 218, 218);
          align-items: center;
          gap: 0.3rem;
          justify-content: center;
          cursor: pointer;
          transition: all 300ms;

          &:hover {
            background-color: var(--primary-color);
            transition: all 300ms;
          }

          &:active {
            background-color: var(--primary-color-darker);
            transition: all 300ms;
          }
        }

        .arrow-left {
          span {
            animation: slideLeft 1s ease infinite;
          }
        }

        .arrow-right {
          span {
            animation: slideRight 1s ease infinite;
          }
        }

        .spacer {
          height: 10px;
          background-color: rgb(48, 48, 48);
          width: 1px;
        }
      }

      .selector-body {
        width: 100%;
        text-align: center;
        height: 80px;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(33, 33, 33);
        gap: 2rem;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        img {
          height: 45px;
          border: 2px solid var(--primary-color);
          border-radius: 100%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .main-stats-wrapper {
          display: flex;
          justify-content: flex-start;
          gap: 3rem;
          width: 100%;

          .main-stats {
            display: flex;
            flex-direction: column;
            font-size: 0.7rem;
            align-items: flex-start;
            gap: 0.4rem;

            .stat {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.4rem;

              .icons {
                display: flex;
                gap: 0.2rem;
                font-weight: bold;
              }

              &.special {
                display: flex;
                gap: 1rem;
              }
            }

            .stat1 {
              color: rgb(255, 232, 103);
            }

            .stat2 {
              color: rgb(255, 232, 103);
            }

            .stat3 {
              color: rgb(225, 118, 255);
            }

            .stat4 {
              color: rgb(225, 118, 255);
            }
          }
        }
      }
    }

    .main-content-wrapper {
      flex: 1 1 auto;
      border: 1px solid var(--primary-color);
      width: 100%;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      opacity: 1;
      overflow: auto;

      .compare-h2h,
      .compare-yearly,
      .compare-all-time {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        // overflow: auto;
        .h2h-nav {
          width: 100%;

          ul {
            width: 100%;
            display: flex;
            list-style-type: none;
            box-shadow: var(--primary-color-darker-for-gradient) 0px 3px 8px;
            position: relative;
            z-index: 4;

            li {
              width: 100%;

              button {
                width: 100%;
                border: none;
                padding: 1rem 0.2rem;
                cursor: pointer;
                background-color: var(--primary-color-darker);
                color: white;
                transition: all 300ms;
                font-size: 0.9rem;

                &.active {
                  background-color: var(--primary-color);
                  font-weight: bold;
                  transition: all 300ms;
                }
              }

              &:not(:last-child) {
                border-right: 1px solid var(--primary-color);
              }
            }
          }
        }

        .h2h-content-wrapper {
          height: 100%;
          display: flex;
          width: 100%;
          overflow: auto;
        }

        .h2h-content {
          display: flex;
          min-height: 100%;
          // height: fit-content;
          width: 100%;
          background-color: rgb(22, 22, 22);

          .cell.stat {
            padding: 1rem 0;
            border-bottom: 1px solid var(--primary-color-darker);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-family: 'Kalnia', serif;
            font-weight: 300;
            // font-family: 'Kameron', serif;
          }

          .stat-names {
            font-weight: bold;
          }

          .owner-stats,
          .stat-names {
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 100%;
            text-align: center;
            position: relative;

            .stat {
              position: relative;
              z-index: 1;
              border-bottom: 1px solid var(--primary-color);

              &:last-child {
                border-bottom: none;
              }
            }

            .owner-name,
            .stat-title {
              position: sticky;
              top: 0;
              z-index: 2;
            }

            // .stat-title {
            //   background-color: var(--primary-color-darker);
            // }
            .owner-name {
              // background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgb(30, 30, 30) 50%, rgba(20,20,20,1) 100%);
              background-color: var(--name-cell-color);
            }

            .stat-title {
              z-index: 2;
              position: sticky;
              top: 0;
            }

            .main-cell {
              padding: 0.5rem 0;
              border-bottom: 1px solid var(--primary-color-darker);
              // display: flex;
              // align-items: center;
              // justify-content: center;
              box-shadow: var(--primary-color-darker-for-gradient) 0px 3px 8px;
              font-weight: bold;

              &.stat-title {
                background-color: var(--primary-color);
                font-weight: bold;
                background: linear-gradient(90deg, var(--primary-color-darker-darker) 0%, var(--primary-color-darker) 50%, var(--primary-color-darker-darker) 100%);
              }
            }
          }

          .stat-names {
            background-color: var(--primary-color-darker);
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
          }

          .owner-one-stats {
            .cell {
              padding: 1rem 0;
              border-bottom: 1px solid var(--primary-color-darker);
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              opacity: 0.8;
              font-family: 'Kameron', serif;

              .plus-minus-and-icon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 3px;
                font-size: 0.5rem;
                font-weight: bold;

                .arrow-icon.green {
                  color: rgb(110, 255, 110);
                }

                .arrow-icon.red {
                  color: red;
                }
              }

              .plus-minus {
                font-size: 0.5rem;
                font-family: 'Kameron', serif;

                &.green {
                  color: rgb(110, 255, 110);
                }

                &.red {
                  color: red;
                }
              }
            }
          }

          .owner-two-stats {
            .cell {
              padding: 1rem 0;
              border-bottom: 1px solid var(--primary-color-darker);
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              opacity: 0.8;
              font-family: 'Kameron', serif;

              .plus-minus-and-icon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                left: 3px;
                font-size: 0.5rem;
                font-weight: bold;

                .arrow-icon.green {
                  color: rgb(110, 255, 110);
                }

                .arrow-icon.red {
                  color: red;
                }
              }

              .plus-minus {
                font-size: 0.5rem;
                font-family: 'Kameron', serif;

                &.green {
                  color: rgb(110, 255, 110);
                }

                &.red {
                  color: red;
                }
              }
            }
          }

          .cell {
            font-size: 0.9rem;
            padding: 1rem 0;
          }

          .stat-title {
            border-bottom: 1px solid var(--primary-color-darker);
            font-size: 1rem;
          }

          // HERE
        }
      }

      .compare-yearly {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;

        .compare-nav-secondary {
          width: 100%;
          padding-right: 50px;
          position: relative;
          display: flex;
          z-index: 5;

          .year-selector {
            border: none;
            padding: 0.9rem 0.2rem;
            cursor: pointer;
            transition: all 300ms;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: var(--primary-color);
            // border: 1px solid var(--primary-color-darker);
            font-weight: bold;
            // box-shadow: var(--primary-color-darker-for-gradient) 0px 3px 8px;
            z-index: 3;
            // border-radius: 3px;
            border-top: none;
            border-left: 1px solid var(--primary-color-darker);
            border-right: none;
            font-family: 'Righteous', sans-serif;
            flex-grow: 2;
            color: white;

            &.active {
              background-color: rgb(95, 95, 95);
              transition: all 300ms;
            }

            &:hover {
              opacity: 1;
            }

            .year-dropdown {
              height: 0px;
              opacity: 0;
              transition: all 300ms;
              position: absolute;
              top: 53px;
              width: 100%;
              overflow: auto;
              z-index: 1;
              // background-color: black;
              border: 1px solid transparent;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

              &.show {
                height: 300px;
                opacity: 1;
                transition: all 300ms;
                border: 1px solid var(--primary-color-darker-for-gradient);
                border-top: none;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                // box-shadow: var(--primary-color-darker-for-gradient) 0px 3px 8px;
              }

              .dropdown-list {
                display: flex;
                flex-direction: column;
                width: 100%;

                li {
                  width: 100%;
                  border-bottom: 1px solid var(--primary-color-darker);

                  .dropdown-button {
                    width: 100%;
                    width: 100%;
                    border: none;
                    padding: 1rem 0.2rem;
                    cursor: pointer;
                    color: white;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--primary-color-darker-darker);
                    transition: all 300ms;
                    font-family: 'Righteous', sans-serif;

                    &.selected {
                      background-color: var(--primary-color-darker);
                      font-weight: bold;
                      transition: all 300ms;
                    }

                    &:hover {
                      background-color: var(--primary-color);
                      transition: all 300ms;
                    }

                    &:active {
                      background-color: rgb(29, 29, 29);
                      transition: all 300ms;
                    }
                  }
                }
              }
            }
          }

          .year-selector-arrow {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0px;
            height: 100%;
            font-size: 1rem;
            background-color: var(--primary-color-darker);
            width: 50px;
            color: white;
          }

          .filter-buttons {
            display: flex;
            flex-grow: 2;

            button {
              width: 100%;
              border: none;
              cursor: pointer;
              background-color: var(--primary-color-darker);
              color: white;
              transition: all 300ms;
              font-size: 0.9rem;
              border-right: 1px solid var(--primary-color-darker-darker);

              &.active {
                background-color: var(--primary-color);
                // font-weight: bold;
                transition: all 300ms;
              }
            }

            .last {
              border-right: none;
            }

            &:not(:last-child) {
              border-right: none;
            }

          }
        }

        .yearly-content {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      .compare-all-time {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .h2h-nav {
          ul {
            width: 100%;
            display: flex;
            list-style-type: none;
            box-shadow: var(--primary-color-darker-for-gradient) 0px 3px 8px;
            position: relative;
            z-index: 4;

            li {
              width: 100%;

              button {
                width: 100%;
                border: none;
                padding: 1rem 0.2rem;
                cursor: pointer;
                background-color: var(--primary-color-darker);
                color: white;
                transition: all 300ms;
                font-size: 0.9rem;

                &.active {
                  background-color: var(--primary-color);
                  font-weight: bold;
                  transition: all 300ms;
                }
              }

              &:not(:last-child) {
                border-right: 1px solid var(--primary-color);
              }
            }
          }
        }

        .all-time-content {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
        }

        .all-time-header {
          padding: 0.6rem 0.2rem;
          background-color: var(--primary-color-darker);
          width: 100%;
          text-align: center;
          box-shadow: var(--primary-color-darker-for-gradient) 0px 3px 8px;
          font-family: 'Caveat', cursive;
          font-size: 1.4rem;
          background: linear-gradient(90deg, var(--primary-color-darker) 0%, var(--primary-color) 50%, var(--primary-color-darker) 100%);
          position: relative;
          z-index: 3;
        }
      }
    }

    .h2h-content-wrapper-temp {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.cell.special {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: var(--primary-color-lighter);
  color: black;
}

@keyframes slideLeft {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-2px);
  }
}

@keyframes slideRight {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(2px);
  }
}

.finished {
  font-weight: bold;
  color: gold;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  width: 0px;
  height: 0px;
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.stat-value {
  font-family: 'Kameron', serif;
  font-weight: bold;
}

.record {
  font-family: 'Kameron', serif;
  font-weight: bold;
}

.icons {
  font-family: 'Kameron', serif;
}