.compare-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 0;
  // border: 1px solid var(--primary-color);
  .compare-page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    .compare-nav {
      width: 100%;
      ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
        height: 100%;
        li {
          width: 100%;
          button {
            background-color: var(--primary-color-darker);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: none;
            outline: none;
            color: rgb(170, 170, 170);
            font-size: 0.8rem;
            transition: all 300ms;
            width: 100%;
            padding: 1rem 0;
            &.active {
              color: white;
              background-color: var(--primary-color);
              transition: all 300ms;
            }
          }
        }
        .spacer {
          height: 100%;
          width: 2px;
          background-color: var(--primary-color);
        }
      }
    }
    .compare-page-header {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 475px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(11, 11, 11);
        // border-radius: 3px;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-image: url("/compare.jpg");
        background-size: cover;
        @media screen and (max-width: 400px) {
          gap: 0.5rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.9);
          z-index: 1;
          // border-radius: 3px;
        }
        h1 {
          font-size: 1.7rem;
          font-weight: bold;
          font-family: 'Grandiflora One', cursive;
          z-index: 2;
          @media screen and (max-width: 400px) {
            font-size: 1.5rem;
          }
        }
        .compare {
          z-index: 2;
        }
      }
  }
  .compare-page-bottom {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgb(13, 13, 13) 30%, var(--primary-color-darker-for-gradient) 100%);
    .selector-wrapper {
      border: 1px solid var(--primary-color);
      width: 100%;
      height: 105px;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      // overflow: hidden;
      .selector-header {
        font-size: 0.8rem;
        font-weight: bold;
        color: gold;
        width: 100%;
        text-align: center;
        background-color: rgb(17, 17, 17);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        overflow: hidden;
        h2 {
          display: block;
          text-wrap: nowrap;
          padding: 0.2rem 0.5rem 0.2rem 0.5rem;
          border-radius: 3px;
          background-color: var(--primary-color-darker);
          color: white;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          min-width: 100px;
          max-width: 200px;
        }
        button {
          width: 100%;
          height: 100%;
          background-color: rgb(17, 17, 17);
          border: none;
          padding: 0.7rem 0.5rem 0.7rem 0.5rem;
          display: flex;
          color: rgb(218, 218, 218);
          align-items: center;
          gap: 0.3rem;
          justify-content: center;
          cursor: pointer;
          transition: all 300ms;
          &:hover {
            background-color: var(--primary-color);
            transition: all 300ms;
          }
          &:active {
            background-color: var(--primary-color-darker);
            transition: all 300ms;
          }
        }
        .arrow-left {
          span {
            animation: slideLeft 1s ease infinite;
          }
        }
        .arrow-right {
          span {
            animation: slideRight 1s ease infinite;
          }
        }
        .spacer {
          height: 10px;
          background-color: rgb(48, 48, 48);
          width: 1px;
        }
      }
      .selector-body {
        width: 100%;
        text-align: center;
        height: 80px;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(33, 33, 33);
        gap: 2rem;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        img {
          height: 45px;
          border: 2px solid var(--primary-color);
          border-radius: 100%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .main-stats-wrapper {
          display: flex;
          justify-content: flex-start;
          gap: 3rem;
          width: 100%;
          .main-stats {
            display: flex;
            flex-direction: column;
            font-size: 0.7rem;
            align-items: flex-start;
            gap: 0.4rem;
            .stat {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.4rem;
              .icons {
                display: flex;
                gap: 0.2rem;
                font-weight: bold;
              }
            }
            .stat1 {
              color: rgb(255, 232, 103);
            }
            .stat2 {
              color: rgb(255, 232, 103);
            }
            .stat3 {
              color: rgb(225, 118, 255);
            }
            .stat4 {
              color: rgb(225, 118, 255);
            }
          }
        }
      }
    }
    .main-content-wrapper {
      height: 100%;
      border: 1px solid grey;
      width: 100%;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      opacity: 0.8;
    }
  }
}

// @keyframes slideLeft {
//    0%, 20%, 50%, 80%, 100% {margin-right: 0;} 
//    40% {margin-right: 2px;} 
//    60% {margin-right: 4px;} 
// } 

// @keyframes slideRight {
//    0%, 20%, 50%, 80%, 100% {margin-right: 0;} 
//    40% {margin-right: 2px;} 
//    60% {margin-right: 4px;} 
// } 

@keyframes slideLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
}

@keyframes slideRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
}