.page {
  display: flex;
  gap: 1rem;
  .owner {
    background-color: white;
    padding: 0.3rem 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    button {
      cursor: pointer;
    }
    .owner-name {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}