.circle__center {
  position: absolute;
  height: 25rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.established {
  height: 20%;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  opacity: 0.5;
}

.greeting {
  color: var(--white);
  text-align: center;
  font-weight: 400;
  opacity: 0.7;
  font-size: 1.5rem;
  padding: 0 1rem;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  .name {
    color: var(--primary-color);
  }
  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
}

.title-circle-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.hero__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100svh;
  width: 100%;
  background-color: var(--primary-color-background);
}

.established-large {
  color: var(--primary-color)
}

.fixed-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 2rem;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.league-logo,
.theme-changer {
  color: var(--tertiary-color);
}

.league-logo {
  font-size: 1.4rem;
  padding: 0.2rem 0.2rem;
  transition: var(--transition);
}

.league-logo:hover {
  cursor: pointer;
  color: var(--primary-color-dark);
  transition: var(--transition);
}

.theme-changer {
  font-size: 1.6rem;
  padding-top: .2rem;
  transition: var(--transition);
}

.theme-changer:hover {
  cursor: pointer;
  color: var(--primary-color-dark);
  transition: var(--transition);
}

.icon {
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  position: relative;
  background-color: var(--primary-color-darker);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .icon__name {
    position: absolute;
    color: black;
    background-color: white;
    font-size: 0.4rem;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 70%);
    width: 100%;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
  }
}

// .icon > img {
//   height: 3.5rem;
// }

// .title-text-wrapper {
//   position: absolute;
// }

.hero__text {
  // font-family: 'Shadows Into Light', cursive;
  font-size: 2.3rem;
  max-width: 18rem;
  text-align: center;
  transform: rotate(-10deg);
  color: var(--primary-color);
  font-weight: 400;
}

.auth-buttons {
  height: 20%;
  display: flex;
  align-items: center;
  gap: 2rem;
  a {
    text-decoration: none;
    color: black
  }
  .signin, .signup {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-darker);
    border-radius: 3px;
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--primary-color);
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    &:hover {
      opacity: .90;
      color: white;
    }
    &:active {
      opacity: .80;
      color: var(--white-active)
    }
  }
}

.ex {
  color: var(--primary-color);
}

.icon__wrapper {
  border-radius: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon__pole {
  height: 27rem;
}

.icon__wrapper-1 {
  transform: rotate(30deg);
}

.icon__1 {
  transform: rotate(-30deg);
}

.icon__wrapper-2 {
  transform: rotate(60deg);
}
.icon__2 {
  transform: rotate(-60deg);
}

.icon__wrapper-3 {
  transform: rotate(90deg);
}

.icon__3 {
  transform: rotate(-90deg);
}

.icon__wrapper-4 {
  transform: rotate(120deg);
}

.icon__4 {
  transform: rotate(-120deg);
}

.icon__wrapper-5 {
  transform: rotate(150deg);
}

.icon__5 {
  transform: rotate(-150deg);
}

.icon__wrapper-6 {
  transform: rotate(180deg);
}

.icon__6 {
  transform: rotate(-180deg);
}

.icon__wrapper-7 {
  transform: rotate(210deg);
}

.icon__7 {
  transform: rotate(-210deg);
}

.icon__wrapper-8 {
  transform: rotate(240deg);
}

.icon__8 {
  transform: rotate(-240deg);
}

.icon__wrapper-9 {
  transform: rotate(270deg);
}

.icon__9 {
  transform: rotate(-270deg);
}

.icon__wrapper-10 {
  transform: rotate(300deg);
}

.icon__10 {
  transform: rotate(-300deg);
}

.icon__11 {
  transform: rotate(-330deg);
}

.icon__wrapper-11 {
  transform: rotate(330deg);
}

.icon__0 {
  animation: animateIconOne 25s linear infinite;
}

.icon__1 {
  animation: animateIconTwo 25s linear infinite;
}

.icon__2 {
  animation: animateIconThree 25s linear infinite;
}

.icon__3 {
  animation: animateIconFour 25s linear infinite;
}

.icon__4 {
  animation: animateIconFive 25s linear infinite;
}

.icon__5 {
  animation: animateIconSix 25s linear infinite;
}

.icon__6 {
  animation: animateIconSeven 25s linear infinite;
}

.icon__7 {
  animation: animateIconEight 25s linear infinite;
}

.icon__8 {
  animation: animateIconNine 25s linear infinite;
}

.icon__9 {
  animation: animateIconTen 25s linear infinite;
}

.icon__10 {
  animation: animateIconEleven 25s linear infinite;
}

.icon__11 {
  animation: animateIconTwelve 25s linear infinite;
}

.animate-rotate {
  animation: animateSpin 25s linear infinite;
}

@keyframes animateSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animateIconOne {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes animateIconTwo {
  from {
    transform: rotate(330deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

@keyframes animateIconThree {
  from {
    transform: rotate(300deg);
  }
  to {
    transform: rotate(-60deg);
  }
}

@keyframes animateIconFour {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes animateIconFive {
  from {
    transform: rotate(240deg);
  }
  to {
    transform: rotate(-120deg);
  }
}

@keyframes animateIconSix {
  from {
    transform: rotate(210deg);
  }
  to {
    transform: rotate(-150deg);
  }
}

@keyframes animateIconSeven {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes animateIconEight {
  from {
    transform: rotate(150deg);
  }
  to {
    transform: rotate(-210deg);
  }
}

@keyframes animateIconNine {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(-240deg);
  }
}

@keyframes animateIconTen {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(-270deg);
  }
}

@keyframes animateIconEleven {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(-300deg);
  }
}

@keyframes animateIconTwelve {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(-330deg);
  }
}

@media screen and (max-width: 700px),
        screen and (max-height: 800px) {
  .circle__center {
    height: 20rem;
    width: 20rem;
  }

  .icon__pole {
    height: 20rem;
  }

  .icon {
    border: 2px solid var(--primary-color);
    border-radius: 100%;
  }

  // .icon > img {
  //   height: 3rem;
  // }

  .hero__text {
    font-size: 2rem;
    max-width: 14rem;
  }
}

@media screen and (max-width: 600px),
        screen and (max-height: 600px) {
  .hero__image {
    margin-top: 0;
    height: 100svh;
  }
}

@media screen and (max-width: 505px),
        screen and (max-height: 600px) {
  .circle__center {
    height: 18rem;
    width: 18rem;
  }

  .icon__pole {
    height: 18rem;
  }

  .icon {
    border: 2px solid var(--primary-color);
    border-radius: 100%;
  }

  // .icon > img {
  //   height: 2.8rem;
  // }

  .hero__text {
    font-size: 1.8rem;
    max-width: 13rem;
  }
  .established-large {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px),
        screen and (max-height: 550px ) {
  .circle__center {
    height: 14rem;
    width: 14rem;
  }

  .icon__pole {
    height: 14rem;
  }

  .icon {
    border: 2px solid var(--primary-color);
    border-radius: 100%;
  }

  // .icon > img {
  //   height: 2.1rem;
  // }

  .hero__text {
    font-size: 1.1rem;
    max-width: 8rem;
  }
}

// @media screen and (max-width: 400px) {
//   .circle__center {
//     height: 12rem;
//     width: 12rem;
//   }

//   .icon__pole {
//     height: 12rem;
//   }

//   .icon {
//     border: 2px solid var(--primary-color);
//     border-radius: 100%;
//   }

//   .icon > img {
//     height: 2rem;
//   }

//   .hero__text {
//     font-size: 1rem;
//     max-width: 8rem;
//   }
// }

@media screen and (max-width: 325px) {
  .circle__center {
    height: 10rem;
    width: 10rem;
  }

  .icon__pole {
    height: 10rem;
  }

  .icon {
    border: 2px solid var(--primary-color);
    border-radius: 100%;
  }

  // .icon > img {
  //   height: 1.5rem;
  // }

  .hero__text {
    font-size: 0.9rem;
    max-width: 7rem;
  }
}

@media screen and (max-width: 600px) {
  .fixed-items {
    display: flex;
  }
}