.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--off-white);
  padding: 1.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 350px;
  border-radius: 5px;
  .description {
    opacity: 0.5;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    text-wrap: balance;
  }
  h1 {
    font-weight: 900;
    font-size: 2rem;
  }
  button {
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.4rem 0.3rem;
    border: 1px solid black;
    &:hover {
      opacity: 0.95;
    }
    &:active {
      opacity: 0.9;
    }
  }
  .error {
    font-size: 0.7rem;
    font-weight: bold;
    color: red;
  }
  .success {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
  }
  .spinner {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: #000000;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
  .sign-in-button {
    margin-bottom: 1rem;
    background-color: var(--primary-color-darker);
    border: 1px solid var(--primary-color);
    color: var(--white);
  }
  .google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    background-color: #4789f4;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    .logo {
      display: flex;
      margin-left: 0.2rem;
    }
  }
  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
    label {
      font-size: 0.7rem;
      font-weight: bold;
    }
    input {
      border-radius: 3px;
      padding: 0.5rem 0.5rem;
      border: 2px solid transparent;
      font-size: 0.8rem;
      transition: 300ms all;
      &:focus {
        outline: none;
        border: 2px solid var(--primary-color);
        background-color: var(--primary-color-lighter);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 300ms all;
      }
    }
  }
}