.auth-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  .modal-content {
    width: 300px;
    min-height: 120px;
    background-color: white;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    padding: 1rem;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      input {
        padding: 0.2rem 0.3rem;
        width: 100%;
      }
      button {
        cursor: pointer;
        width: 100px;
        background-color: rgb(33, 33, 107);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0.3rem;
        width: 100%;
      }
      .google-button {
        background-color: rgb(73, 106, 255);
      }
    }
    .error-message {
      margin: 0;
      color: red;
    }
  }
}