@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;500;600;700&display=swap');

.koth-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 0;
  height: 100%;
  overflow-y: scroll;

  .alwaysShownContent {
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // border: 1px solid var(--primary-color);
  .king-page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    max-width: 500px;

    @media screen and (max-height: 615px) {
      height: 30%;
    }

    .king-nav {
      width: 100%;

      ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
        height: 100%;

        li {
          width: 100%;

          button {
            background-color: var(--primary-color-darker);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: none;
            outline: none;
            color: rgb(170, 170, 170);
            font-size: 0.8rem;
            transition: all 300ms;
            width: 100%;
            padding: 1rem 0;

            &.active {
              color: white;
              background-color: var(--primary-color);
              transition: all 300ms;
            }
          }
        }

        .spacer {
          height: 100%;
          width: 2px;
          background-color: var(--primary-color);
        }
      }
    }

    .king-page-header {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 475px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(11, 11, 11);
      // border-radius: 3px;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-image: url("/kingbackground.jpg");
      background-size: cover;

      @media screen and (max-width: 400px) {
        gap: 0.5rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1;
        // border-radius: 3px;
      }

      h1 {
        font-size: 1.7rem;
        font-weight: bold;
        font-family: 'Grandiflora One', cursive;
        z-index: 2;

        @media screen and (max-width: 400px) {
          font-size: 1.5rem;
        }
      }

      .crown {
        z-index: 2;
      }
    }
  }

  .king-page-bottom {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, rgb(13, 13, 13) 30%, var(--primary-color-darker-for-gradient) 100%);
    max-width: 500px;
    animation: fadeIn 500ms linear;
    // overflow: scroll;

    @media screen and (max-height: 615px) {
      height: 70%;
    }

    .standings {
      height: 100%;
      width: 100%;
      padding: 0.5rem 0.5rem 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // overflow: scroll;

      .viewBreakdown-btn {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        gap: 0.2rem;
        cursor: pointer;
        transition: all 300ms;
        height: 100%;
        padding-top: 0.5rem;

        &:hover {
          opacity: 0.7;
          transition: all 300ms;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .columnHeaders {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      background-color: var(--primary-color-lighter);
      color: black;
      padding: 0.8rem 0;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      font-weight: bold;
      border-left: 1px solid var(--primary-color);
      border-right: 1px solid var(--primary-color);
      border-top: 1px solid var(--primary-color);
      width: 100%;

      @media screen and (max-height: 615px) {
        padding: 0.6rem 0;
      }

      @media screen and (max-height: 585px) {
        padding: 0.4rem 0;
      }

      div {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;

        &:not(:last-child) {
          border-right: 1px solid black;
        }

        @media screen and (max-width: 350px),
        screen and (max-height: 650px) {
          font-size: 0.6rem;
        }
      }
    }

    .standings-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      // height: 100%;
      border-left: 1px solid var(--primary-color);
      border-right: 1px solid var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      .ownerWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        justify-content: center;
        padding: 0.6rem 0;
        position: relative;

        div {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-right: 1px solid rgb(72, 72, 72);

          &:last-child {
            border: none;
          }
        }

        .strikes {
          display: flex;
          gap: 0.2rem;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 350px) {
            font-size: 0.7rem;
          }

          .circle {
            border: 1px solid grey;
            border-radius: 100%;
            display: flex;
            background-color: green;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .strikesIcon {
              opacity: 0;
              color: white;

              &.show {
                opacity: 1;
              }
            }
          }

          &.zero {
            .circle {
              background-color: rgb(100, 241, 100, 0.5);
              border: 1px solid rgb(55, 121, 55);

              .strikesIcon {
                color: lightgreen;
              }
            }
          }

          &.one {
            .circle {
              background-color: rgb(0, 84, 0);
              border: 1px solid green;

              .strikesIcon {
                color: rgb(110, 255, 110)
              }
            }
          }

          &.two {
            .circle {
              border: 1px solid yellow;
              background-color: rgb(149, 149, 0);

              .strikesIcon {
                color: yellow
              }
            }
          }

          &.three {

            .circle {
              background-color: rgb(101, 0, 0);
              border: 1px solid red;

              .strikesIcon {
                color: rgb(255, 97, 97);
              }
            }
          }
        }

        .topScorer {
          font-size: 1rem;
          // font-weight: bold;
        }

        .ownerName {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          padding-left: 0.8rem;
          font-weight: bold;
          font-size: 0.9rem;

          @media screen and (max-width: 420px),
          screen and (max-height: 700px) {
            font-size: 0.8rem;
            padding-left: 0.4rem;
          }

          @media screen and (max-width: 350px) {
            font-size: 0.7rem;
            padding-left: 0.4rem;
          }

          @media screen and (max-width: 320px) {
            font-size: 0.6rem;
            padding-left: 0.2rem;
          }
        }

        // HIDDEN FOR NOW
        .medal {
          position: absolute;
          width: 25px;
          height: 25px;
          left: 0;
          opacity: 0;
        }

        @media screen and (max-height: 850px) {
          padding: 0.5rem;
        }

        @media screen and (max-height: 800px) {
          padding: 0.4rem;
        }

        @media screen and (max-height: 750px) {
          padding: 0.4rem;

          .topScorer {
            font-size: 0.9rem;
          }

          .weekEliminated {
            font-size: 0.9rem;
          }
        }

        @media screen and (max-height: 700px) {
          padding: 0.4rem;

          .topScorer {
            font-size: 0.8rem;
          }

          .weekEliminated {
            font-size: 0.8rem;
          }
        }

        @media screen and (max-height: 675px) {
          padding: 0.3rem;

          .topScorer {
            font-size: 0.8rem;
          }

          .weekEliminated {
            font-size: 0.8rem;
          }

          .strikes {
            font-size: 0.7rem;
          }
        }

        @media screen and (max-height: 625px) {
          padding: 0.3rem;

          .topScorer {
            font-size: 0.8rem;
          }

          .weekEliminated {
            font-size: 0.8rem;
          }
        }

        @media screen and (max-height: 615px) {
          padding: 0.2rem;

          .topScorer {
            font-size: 0.8rem;
          }

          .weekEliminated {
            font-size: 0.8rem;
          }
        }

        @media screen and (max-height: 595px) {
          padding: 0.2rem;

          .strikes {
            font-size: 0.5rem;
          }

          .topScorer,
          .weekEliminated {
            font-size: 0.6rem;
          }
        }

        @media screen and (max-height: 560px) {
          padding: 0.2rem;

          .strikes {
            font-size: 0.5rem;
          }

          .topScorer,
          .weekEliminated {
            font-size: 0.6rem;
          }
        }
      }
    }

    .ownerWrapper:nth-child(odd) {
      background-color: rgb(13, 13, 13);
    }

    .ownerWrapper:nth-child(even) {
      background-color: rgb(27, 27, 27);
    }
  }

  .fullBottomWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;

    // @media screen and (max-height: 570px) {
    //   .standings {
    //     min-height: 400px;
    //   }

    //   overflow: auto;
    // }
  }

  // FIX *******************************
  // FIX *******************************
  // FIX *******************************

  // SOME WEIRD STUFF GOING ON WITH BORDERS OF TABLE WHEN SCROLLING RIGHT
  // (TOP LEFT AND BOTTOM RIGHT)

  // also add how many strikes for each week

  // FIX *******************************
  // FIX *******************************
  // FIX *******************************


  .king-page-extra-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 0 0.5rem 0rem 0.5rem;
    width: 100%;
    max-width: 500px;

    &.show {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }

    .paddingFixWrapper {
      max-height: 0px;
      opacity: 0;
      border: 2px solid var(--primary-color);
      transition: all 300ms;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      overflow-x: scroll;
      transition: all 300ms;
      width: 100%;

      &.show {
        height: fit-content;
        max-height: 2000px;
        opacity: 1;
        overflow-x: scroll;
        transition: all 300ms;
      }

    }
  }

  .breakdownWrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    // 1050, 1100, 1200, 1300
    // border: 2px solid var(--primary-color);
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    @media screen and (max-width: 350px) {}


    .weekHeaders {
      display: flex;

      .week {
        background-color: var(--primary-color-lighter);
        font-size: 0.8rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;

        .strikes {
          font-size: 0.6rem;
          color: var(--primary-color-darker);
        }
      }

      div {
        min-width: 85px;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid var(--primary-color);
        color: black;

        &:last-child {
          border: none;
        }


        @media screen and (max-height: 575px) {
          padding: 0.2rem 0.5rem;
          min-width: 75px;
        }

        @media screen and (max-height: 550px) {
          padding: 0.1rem 0.5rem;
          min-width: 70px;
        }
      }

      .weekHeader {
        min-width: 120px;
        display: flex;
        justify-content: flex-start;
        background-color: var(--primary-color-lighter);
        padding-left: 1rem;
        font-weight: bold;
        position: sticky;
        left: 0;

        @media screen and (max-width: 350px) {
          font-size: 0.7rem;
          min-width: 100px;
        }

        @media screen and (max-width: 500px) {
          font-size: 0.7rem;
          min-width: 100px;
        }

        @media screen and (max-height: 570px) {
          padding: 0.3rem, 0.5rem, 0.3rem, 1rem;
        }

        // border-top-left-radius: 3px;
      }
    }

    .ownerByWeekWrapper {
      display: flex;

      &:nth-child(odd) {
        background-color: rgb(13, 13, 13);
      }

      &:nth-child(even) {
        background-color: rgb(27, 27, 27);
      }

      .weekCell {
        min-width: 85px;
        padding: 0.8rem;
        // border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid var(--primary-color);
        position: relative;
        font-family: 'Kameron', serif;
        font-size: 0.7rem;
        font-weight: 400;

        @media screen and (max-width: 350px) {
          padding: 0.6rem;
        }

        @media screen and (max-height: 575px) {
          min-width: 75px;
        }

        @media screen and (max-height: 550px) {
          // padding: 0.1rem 0.5rem;
          min-width: 70px;
        }

        &.index0 {
          background-color: rgb(27, 27, 27);
        }

        &.index1 {
          background-color: rgb(13, 13, 13);
        }

        &.index2 {
          background-color: rgb(27, 27, 27);
        }

        &.index3 {
          background-color: rgb(13, 13, 13);
        }

        &.index4 {
          background-color: rgb(27, 27, 27);
        }

        &.index5 {
          background-color: rgb(13, 13, 13);
        }

        &.index6 {
          background-color: rgb(27, 27, 27);
        }

        &.index7 {
          background-color: rgb(13, 13, 13);
        }

        &.index8 {
          background-color: rgb(27, 27, 27);
        }

        &.index9 {
          background-color: rgb(13, 13, 13);
        }

        &.index10 {
          background-color: rgb(27, 27, 27);
        }

        &.index11 {
          background-color: rgb(13, 13, 13);
        }

        &.striked {
          color: red;
          background-color: rgb(48, 0, 0);
        }

        &.eliminated {
          span {
            position: absolute;
            background-color: black;
            opacity: 0.8;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        .insetStrikesWrapper {
          display: flex;
          font-size: 0.5rem;
          gap: 0rem;
          position: absolute;
          bottom: 2px;
          left: 2px;
        }

        &.topScore {
          color: rgb(255, 228, 73);
          background-color: rgb(73, 62, 0);
        }

      }

      .ownerName {
        min-width: 120px;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
        font-weight: bold;
        border-right: 1px solid var(--primary-color);
        // border-left: 1px solid var(--primary-color);
        position: sticky;
        left: 0;
        z-index: 1;

        @media screen and (max-width: 350px) {
          font-size: 0.7rem;
          min-width: 100px;
        }

        @media screen and (max-width: 500px) {
          font-size: 0.7rem;
          min-width: 100px;
        }

        &.index0 {
          background-color: rgb(27, 27, 27);
        }

        &.index1 {
          background-color: rgb(13, 13, 13);
        }

        &.index2 {
          background-color: rgb(27, 27, 27);
        }

        &.index3 {
          background-color: rgb(13, 13, 13);
        }

        &.index4 {
          background-color: rgb(27, 27, 27);
        }

        &.index5 {
          background-color: rgb(13, 13, 13);
        }

        &.index6 {
          background-color: rgb(27, 27, 27);
        }

        &.index7 {
          background-color: rgb(13, 13, 13);
        }

        &.index8 {
          background-color: rgb(27, 27, 27);
        }

        &.index9 {
          background-color: rgb(13, 13, 13);
        }

        &.index10 {
          background-color: rgb(27, 27, 27);
        }

        &.index11 {
          background-color: rgb(13, 13, 13);
          border-bottom-left-radius: 3px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}