.desktop-header-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100px;
  transform: translateY(-75px);
  transition: all 300ms;
  // display: none;
  @media screen and (max-width: 820px) {
    display: none;
  }
  .hover-image {
    position: absolute;
    top: 45px;
    left: 15px;
    transition: all 300ms;
    height: 12rem;
    width: 12rem;
  }
  &:hover {
    transform: translateY(0);
    // backdrop-filter: blur(3px);
    .hover-image {
      opacity: 0;
      transition: all 300ms;
    }
  }
  z-index: 1;
  .header {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    gap: 2rem;
    background: linear-gradient(to bottom, var(--primary-color-darker), var(--primary-color-darker-fade));
    .nav-left, .nav-right {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
    .nav-right {
      .proposals-img {
        height: 1.3rem;
        width: 1.3rem;
        color: var(--primary-color);
        &:hover {
          opacity: 0.8;
        }
      }
      .picks-img {
        display: flex;
        height: 1.3rem;
        width: 1.3rem;
        &:hover {
          opacity: 0.8;
        }
      }
      .profile-img {
        display: flex;
        height: 2rem;
        width: 2rem;
        border: 2px solid var(--primary-color);
        border-radius: 100%;
        transition: all 300ms;
        &:hover {
          opacity: 0.8;
          transition: all 300ms;
        }
      }
    }
    a {
      text-decoration: none;
      color: var(--primary-color-lighter);
      cursor: pointer;
      transition: all 300ms;
      font-weight: 500;
      font-size: 1rem;
      transition: all 300ms;
      &:hover {
        color: var(--white-hover);
        transition: all 300ms;
      }
    }
  }
  .header-hover-effect {
    height: 50%;
  }
}

.mobile-header-wrapper {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  @media screen and (min-width: 821px) {
    display: none;
  }
  .menu-icon {
    position: absolute;
    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    // box-shadow: rgba(3, 165, 46, 0.4) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all 300ms;
    &:hover {
      opacity: 0.9;
      // box-shadow: rgba(3, 165, 46, 0.6) 0px 7px 29px 0px;
      transition: all 300ms;
    }
    &:active {
      opacity: 0.8;
      transition: all 300ms;
    }
  }
  .side-nav {
    position: fixed;
    top: 0;
    right: -100px;
    height: 100%;
    width: 0;
    // border: 2px solid var(--primary-color);
    transform: translateX(150%);
    transition: all 500ms;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mobile-nav-spacer {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: white;
      gap: 1rem;
      img {
        aspect-ratio: 16/11;
        width: 8rem;
      }
    }
    .nav-top, .nav-bottom {
      opacity: 0;
      transition: all 200ms;
    }
    &.show {
      transform: translateX(0);
      transition: all 500ms;
      width: 100%;
      background-color: var(--primary-color-darker);
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      right: 0px;
      .nav-top, .nav-bottom {
        opacity: 1;
        transition: all 200ms;
        a {
          &:hover {
            background-color: var(--primary-color-darker-hover);
          }
          &:active {
            background-color: var(--primary-color-darker-active);
          }
        }
      }
    }
    .nav-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      a {
      text-decoration: none;
      color: var(--white);
      cursor: pointer;
      height: 5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      width: 100%;
      justify-content: center;
      border-bottom: 0.5px solid var(--primary-color);
      &:active {
        background-color: rgb(18, 18, 18);
      }
    }
    }
    .nav-bottom {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        height: 5rem;
        display: flex;
        gap: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        width: 100%;
        &:not(:last-child) {
          border-bottom: 0.5px solid var(--primary-color);
        }
        &:first-child {
          border-top: 0.5px solid var(--primary-color);
        }
      &:active {
        background-color: var(--primary-color-darker-active);
      }
    }
      .proposals-img {
        height: 1.3rem;
        width: 1.3rem;
        color: white;
        &:hover {
          opacity: 0.8;
        }
      }
      .picks-img {
        display: flex;
        height: 1.3rem;
        width: 1.3rem;
        &:hover {
          opacity: 0.8;
        }
      }
      .profile-img {
        display: flex;
        height: 2rem;
        width: 2rem;
        border: 2px solid var(--primary-color);
        border-radius: 100%;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}